form(ng-submit='vm.submitLoginCredentials(vm.loginCreds)' novalidate=true)
  formly-form(model='vm.loginCreds' fields='vm.loginFields' form='vm.loginForm')
    button(type='submit' class='btn btn-primary btn-lg')
      span(ng-if='!vm.processing') Login
      span(ng-if='vm.processing') Loading..

